<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="login rotate-90deg">
      <a class="waves-effect waves-light btn z-depth-3 hoverable" style="background-color: #fff; color:#ebb81e"  (click)="onSelect(choice)">Login</a> 
    </div>
    <div class="register rotate-90deg">
      <a class="waves-effect waves-light btn z-depth-3 hoverable " style="background-color: #ebb81e"  (click)="onSelect(choice)">Register</a> 
    </div>
    <div class="login-container z-depth-3 center-align">

     <i style="margin-top:20px" class="grey-text text-darken-2 small material-icons">account_circle</i>
      <div class="container"  >
      
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" placeholder="Password">
            
          </div>
          <a class="waves-effect waves-light btn" style="background-color: #ebb81e">Login</a>
        </div>
      </div>

     <!-- <div class="container" *ngIf="register" (click)="onSelect(choice)">
        <div class="row">
        <div class="input-field col s12">
            <input id="pseudo" type="email" class="validate" placeholder="Username">
          </div>
          
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate" placeholder="Email">
          </div>
        
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" placeholder="Password">
            
          </div>
        </div>
          <a class="waves-effect waves-light btn" style="background-color: #ebb81e">Register</a>
      </div>
    </div>-->
</div>

